################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Single Responsibility/obj
/Single Responsibility/bin
/Open-Close-Principle/bin
/Open-Close-Principle/obj
/Liskov-Substitution-Principle/bin
/Liskov-Substitution-Principle/obj
/Interface-Segregation-Principle/bin
/Interface-Segregation-Principle/obj
